ninja
pybind11

diffusers
einops
opencv-python
numpy
# torch (installed via Dockerfile --index-url)
transformers
# torchvision (installed via Dockerfile --index-url)
#taming-transformers-rom1504
#ConfigArgParse
#ipdb
omegaconf

#sentencepiece
tqdm

# Mesh Processing
trimesh
pymeshlab
pygltflib
xatlas
#kornia
#facexlib

# Training
accelerate
#pytorch_lightning
#scikit-learn
#scikit-image

# Demo only
gradio
fastapi
uvicorn
rembg
onnxruntime
gsutil
#gevent
#geventhttpclient